/* SECTION 3 */
.section3 {
    background-color: rgb(213, 233, 232);
      width: 70%;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 100px;
  }
  #section3title {
    font-size: 1.625em;
    padding-right: 1em;
    color: rgb(0, 179, 155);
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin: 0.25em 0px 0.35em;
  }
  .section3 div {
    width: 90%;
    display: flex;
  }
  #section3logos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* width */
    grid-template-rows: auto auto auto; /* height */
    gap: 10px;
  }